<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qczl.dao.CarMapper" >
  <resultMap id="BaseResultMap" type="com.qczl.model.Car" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="color" property="color" jdbcType="VARCHAR" />
    <result column="brand" property="brand" jdbcType="VARCHAR" />
    <result column="model" property="model" jdbcType="VARCHAR" />
    <result column="carnumber" property="carnumber" jdbcType="INTEGER" />
    <result column="buytime" property="buytime" jdbcType="VARCHAR" />
    <result column="cardetail" property="cardetail" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, color, brand, model, carnumber, buytime, cardetail
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from car
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from car
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qczl.model.Car" >
    insert into car (id, color, brand, 
      model, carnumber, buytime, 
      cardetail)
    values (#{id,jdbcType=INTEGER}, #{color,jdbcType=VARCHAR}, #{brand,jdbcType=VARCHAR}, 
      #{model,jdbcType=VARCHAR}, #{carnumber,jdbcType=INTEGER}, #{buytime,jdbcType=VARCHAR}, 
      #{cardetail,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qczl.model.Car" >
    insert into car
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="color != null" >
        color,
      </if>
      <if test="brand != null" >
        brand,
      </if>
      <if test="model != null" >
        model,
      </if>
      <if test="carnumber != null" >
        carnumber,
      </if>
      <if test="buytime != null" >
        buytime,
      </if>
      <if test="cardetail != null" >
        cardetail,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="color != null" >
        #{color,jdbcType=VARCHAR},
      </if>
      <if test="brand != null" >
        #{brand,jdbcType=VARCHAR},
      </if>
      <if test="model != null" >
        #{model,jdbcType=VARCHAR},
      </if>
      <if test="carnumber != null" >
        #{carnumber,jdbcType=INTEGER},
      </if>
      <if test="buytime != null" >
        #{buytime,jdbcType=VARCHAR},
      </if>
      <if test="cardetail != null" >
        #{cardetail,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qczl.model.Car" >
    update car
    <set >
      <if test="color != null" >
        color = #{color,jdbcType=VARCHAR},
      </if>
      <if test="brand != null" >
        brand = #{brand,jdbcType=VARCHAR},
      </if>
      <if test="model != null" >
        model = #{model,jdbcType=VARCHAR},
      </if>
      <if test="carnumber != null" >
        carnumber = #{carnumber,jdbcType=INTEGER},
      </if>
      <if test="buytime != null" >
        buytime = #{buytime,jdbcType=VARCHAR},
      </if>
      <if test="cardetail != null" >
        cardetail = #{cardetail,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qczl.model.Car" >
    update car
    set color = #{color,jdbcType=VARCHAR},
      brand = #{brand,jdbcType=VARCHAR},
      model = #{model,jdbcType=VARCHAR},
      carnumber = #{carnumber,jdbcType=INTEGER},
      buytime = #{buytime,jdbcType=VARCHAR},
      cardetail = #{cardetail,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
   <select id="queryAllCar" resultType="com.qczl.model.Car" resultMap="BaseResultMap">
  	select * from car
  </select>
</mapper>